<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p>
      Arama: <input ng-model="$ctrl.query" />
      </p>
      </p>
      Sırala: <br><select ng-model="$ctrl.orderProp">
        <option value="id">İsme Göre</option>
        <option value="name">Kayıt Sırasına Göre</option>
      </select>
      </p>
    </div>

    <div class="col-md-10">
      <ul class="speciesList">
        <li ng-repeat="bird in $ctrl.species | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail species-list-item">
          <a href="#!/species/bird/{{bird.id}}" class="thumb">
            <img ng-src="{{bird.imageUrl}}" alt="{{bird.name_tr}}" />
          </a>
          <a href="#!/species/bird/{{bird.id}}" class="speciesName"><b>{{bird.name_tr}}</b></a>
          <p class="speciesSnippet">{{bird.snippet}} <br><br><i><small>ID: {{bird.rank}}</small></i></p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
        <div class="scroll_top">
            <a href="#HOME"><span class="glyphicon glyphicon-menu-up"></span></a>
        </div>
  </div>
</div>
